<!DOCTYPE html>
<html><head>
	<meta charset="utf-8">
	<title>UrbanEvo add skill</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/UE_Style.css">
	</head>
</head>

<body style="background-color: hsla(0, 60%, 40%, 0.7);">
	<div class="container-fluid">
		<div class="row" style="position:relative margin:0 auto">
			<div class="col-1 col-md-2 col-lg-3"></div>
			<div class="col-10 col-md-8 col-lg-6 bgWhite formScroll" style="box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)">

				<a href="UrbanEvo.html"><img class="img-responsive centered" src="/static/img/icons/logo.png"></a>
				<h3>Add a Skill</h3>
	<form action="{{action|safe}}" method="post" enctype="multipart/form-data"></form>
	<div id="res" class="alert"></div>
	<script type="text/javascript" src="/static/deps/jquery.min.js"></script>
	<script type="text/javascript" src="/static/deps/underscore.js"></script>
	<script type="text/javascript" src="/static/deps/opt/jsv.js"></script>
	<script type="text/javascript" src="/static/lib/jsonform.js"></script>
	<script src="/static/deps/opt/ZSchema-browser.js"></script>
	 <script src="/static/deps/opt/jquery.ui.core.js"></script>
	 <script src="/static/deps/opt/jquery.ui.widget.js"></script>
	 <script src="/static/deps/opt/jquery.ui.mouse.js"></script>
	 <script src="/static/deps/opt/jquery.ui.sortable.js"></script>
	 <script src="/static/deps/opt/jquery.ui.custom.js"></script>
	 <script src="/static/deps/opt/bootstrap-dropdown.js"></script>
	 <script src="/static/deps/opt/bootstrap-typeahead.js"></script>
	 <script src="/static/deps/opt/bootstrap-tagsinput.min.js"></script>
	 <script src="/static/deps/opt/spectrum.js"></script>
	 <script src="/static/deps/opt/ace/ace.js"></script>
	 <script src="/static/deps/opt/ace/mode-json.js"></script>
	 <script src="/static/deps/opt/ace/mode-html.js"></script>
	 <script src="/static/deps/opt/ace/mode-css.js"></script>
	 <script src="/static/deps/opt/ace/mode-javascript.js"></script>
	 <script src="/static/deps/opt/ace/mode-less.js"></script>
	 <script src="/static/deps/opt/ace/mode-markdown.js"></script>
	 <script src="/static/deps/opt/jquery.transloadit2.js"></script>
	<script type="text/javascript">
		var theSchema = "{{schemaval|safe}}";
    theSchema = theSchema.replace(/\'true\'/g, true);
		//var outputstr= inputstring.replace(/'/g,'"');
		theSchema = theSchema.replace(/'/g,'"');
		$('form').jsonForm({
			schema: JSON.parse(theSchema),
      form:{{formval|safe}},
			value:{{values|safe}}
			//onSubmit: function (errors, values) {
			//	alert("bob");
			//	if (errors) {
			//		alert(JSON.stringify(values));
			//		alert(JSON.stringify(errors));
			//		$('#res').html('<p>I beg your pardon?</p>');
			//	}
			//}
		});
		/*now that the form has been rendered we need to loop through
		    the stored schema data and populate any lov lists that
				rely on information from the database */
		{% for key,value in preloads.items() %}
		//preloads will contain a dict of {"input name":{"recordtype":recordtype,"field":field}}
			$("select[name='{{key}}']").each(function(index){
				select=this
				$.ajax({
					type: "POST",
					url: "/app/{{recordtype}}/search",
            				success: function(data){
                				// Parse the returned json data
                				var opts = $.parseJSON(data);
                				// Use jQuery's each to iterate over the opts value
                				$.each(opts, function(i, d) {
							$(select).append('<option value="' + d.id + '">' + d.{{field}} + '</option>');
                				});
            				}
        			});

			});
		{% endfor %}
	</script>
</body>

</html>
